#DATABASE
DB_HOST=<db-host>
DB_USER=<db-user>
DB_PASSWORD=<db-password>
DB_DATABASE=<databse-name>

# SERVER
PORT=
HOST=localhost
CORS_ORIGIN=http://localhost:5173

#REDIS
REDIS_SERVER=localhost

# TOKEN
ACCESS_TOKEN_KEY=
REFRESH_TOKEN_KEY=

ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=7d

# DEVELOPMENT
NODE_ENV=<developent || production>

#MAIL
MAIL_SERVICE=gmail
MAIL_USER=<gmail_account>
MAIL_PASSWORD=<gmail_password (use app password)>
